.page-navigation {
  max-width: 1700px;
  margin: 0 auto 110px;
  @extend %img;

  &__inner {
    padding: 135px 0;
    text-align: center;
  }

  &__title {
    @extend %roboto-400;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .page-navigation {
    margin: 0 auto 60px;

    &__inner {
      padding: 90px 0;
    }
  }
}

@media (max-width: 575px) {
  .page-navigation {
    margin: 0 auto 50px;

    &__inner {
      padding: 70px 0;
    }
  }
}