html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: $defaultDark;
  font-size: 16px;
  line-height: 1.4;
  @extend %roboto-700
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: block;
  padding: 15px;
  background: $defaultDark;;
  @extend %roboto-400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  transition: box-shadow 1s, background 0.5s;


}.button:hover {
  background: $accentRed;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

section {
  margin-bottom: 110px;
}

.section-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.additional-text {
  @extend %quicksand-500;
  color: $accentGrey;
}

.section-link {
  display: inline-flex;
  justify-content: center;
  align-items: centerw;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $defaultDark;
  @extend %roboto-400;
  border: 1px solid $accentRed;
  padding: 15px 30px;
}

.header--404-error {
  background-color: $backgroungGrey;
}


.filter {
  &-item {
    padding: 40px 30px;
    border: 1px solid #ececec;
    max-width: 370px;
    margin: 0 30px 40px 0;
  }

  &-title {
    @extend %roboto-400;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.input-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@media (max-width: 992px) {
  .container {
    padding: 0 10px;
  }
}