html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: $defaultDark;
  font-size: 16px;
  line-height: 1.4;
  @extend %roboto-700
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: block;
  padding: 15px;
  background-color: $accentRed;
  @extend %roboto-400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

section {
  margin-bottom: 110px;
}

.section-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.additional-text {
  @extend %quicksand-500;
  color: $accentGrey;
}

.section-link {
  display: inline-flex;
  justify-content: center;
  align-items: centerw;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $defaultDark;
  @extend %roboto-400;
  border: 1px solid $accentRed;
  padding: 15px 30px;
}