//colours
$defaultDark: #29282d;
$accentRed: #fe3e57;
$accentGrey: #8d8d8d;
$backgroungGrey: #f6f6f6;

//fonts

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%quicksand-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

//shortcuts

%img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}