@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }

  .menu {
    &__list {
      display: flex;
      text-transform: uppercase;
    }

    &__list-item:not(:last-child) {
      margin-right: 35px;
    }

    &__list-link {
      @extend %roboto-400;
      color: $defaultDark;
      padding-bottom: 5px;
    }

    &__list-link:hover {
      color: $accentRed;
      @extend %roboto-700;
      border-bottom: 1px solid $accentRed;
    }

    &__list-link--active {
      @extend %roboto-700;
      color: $accentRed;
      border-bottom: 1px solid $accentRed;
    }
  }

  .user-nav {
    display: flex;

    &__link {
      width: 22px;
      height: 22px;
      @extend %img;
      background-size: contain;
      position: relative;
    }

    &__link--user {
      background-image: url(../images/icons/user.svg);
    }

    &__link--search {
      background-image: url(../images/icons/search.svg);
    }

    &__link--favourite {
      background-image: url(../images/icons/favourite.svg);
    }

    &__link--cart {
      background-image: url(../images/icons/cart.svg);
    }

    &__link:not(:last-child) {
      margin-right: 25px;
    }

    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-size: 12px;
      @extend %quicksand-500;
      color: #fff;
      background-color: #fe3e57;
    }
  }
}

.slider {
  background-color: $backgroungGrey;
  background-image: url(../images/slider/sliderDecoration.png);
  @extend %img;
  background-size: contain;

  &__item-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    position: relative;
  }

  &__content {
    align-self: center;
    max-width: 540px;
  }

  &__title {
    font-size: 55px;
    margin-bottom: 15px;
  }

  &__title-span {
    display: block;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__btn {
    padding: 15px 45px;
    margin: auto;
  }

  &__banner {
    width: 45%;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    display: flex;

    li:not(:last-child) {
      margin-right: 10px;
    }

    button {
      font-size: 0;
      padding: 0;
      height: 6px;
      width: 6px;
      background: $accentGrey;
      border-radius: 50%;
    }

    .slick-active {
      button {
        position: relative;
        height: 30px;
        width: 30px;
        border: 1px solid $accentRed;
        background: transparent;
      }

      button:after {
        content: '';
        position: absolute;
        height: 6px;
        width: 6px;
        background: $accentRed;
        border-radius: 50%;
        left: 11px;
        top: 10px;
      }
    }

  }
}

.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  position: relative;
  margin-bottom: 115px;
  text-align: left;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::after {
    top: -50px;
    left: -50px;
    background-image: url(../images/categories/decor/circle.png);
    width: 120px;
    height: 120px;
    z-index: -1;
  }

  &::before {
    bottom: -20px;
    right: -20px;
    background-image: url(../images/categories/decor/triangle.png);
    width: 65px;
    height: 52px;
    z-index: -1;
  }

  &__item {
    padding: 60px 40px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    background: #fff;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.categories {
  text-align: center;
  background-image: url(../images/categories/decor/shapes.png);
  @extend %img;
  background-size: contain;

  &__text {
    max-width: 540px;
    margin: 0 auto 60px;
  }

  &__list {
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 640px;
    text-align: left;
  }

  &__item {
    @extend %img;
    padding: 40px 0 0 40px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories__offer,
      .categories__link:hover {
        color: #c4abeb;
        border-color: #c4abeb;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;

      .categories__offer {
        color: $accentRed;
      }
    }

    &:nth-child(3) {

      .categories__offer,
      .categories__link:hover {
        color: #ffb534;
        border-color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__offer,
      .categories__link:hover {
        color: #a7d9f5;
        border-color: #a7d9f5;
      }
    }
  }

  &__offer {
    @extend %quicksand-500;
    margin-bottom: 10px;
  }

  &__type {
    @extend %roboto-500;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    color: $defaultDark;
    @extend %roboto-400;
    transition: color 0.3s;
  }

  &__link:hover {
    color: $accentRed;
    border-bottom: 1px solid $accentRed;
    padding-bottom: 5px;
  }
}

.promo {
  background-image: url(../images/promo/sectionBg.png);
  @extend %img;
  padding: 125px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/promo/background.jpg);
    @extend %img;
    width: 535px;
    height: 480px;
    margin-right: 40px;
  }

  &__link-btn {
    max-width: 130px;
    width: 100%;
    max-height: 130px;
  }

  &__content {
    max-width: 565px;
  }

  &__offer {
    @extend %quicksand-500;
    font-size: 22px;
    color: $accentRed;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__btn {
    padding: 15px 40px;
  }
}

.products {
  text-align: center;

  &__text {
    max-width: 550px;
    margin: 0 auto 60px;
  }

  &__list {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 25px;
  }

  &__item {
    @extend %roboto-400;
    position: relative;
  }

  &__item--sale::before {
    content: 'sale';
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 5px 15px;
    background-color: $accentRed;
    @extend %roboto-400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    z-index: 1;
  }

  &__item-inner {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__item-inner:hover {
    .products__popup {
      transform: translate(-50%, 0);
    }
  }

  &__img {
    object-fit: cover;
  }

  &__popup {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 300%);
    background: #fff;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    border-radius: 30px;
    transition: transform 0.5s;
  }

  &__popup-link {
    padding: 10px 25px;
    display: flex;
    align-items: center;
  }

  &__popup-link:not(:last-child) {
    position: relative;
  }

  &__popup-link:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 30px;
    background: #ececec;
  }

  &__popup-link {
    path {
      transition: fill 0.5s;
    }
  }

  &__popup-link:hover {
    path {
      fill: $accentRed;
    }
  }

  &__name {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__price-new {
    margin-right: 25px;
  }

  &__price-old {
    color: #ccccce;
    text-decoration: line-through;
  }



  &__star-rate {
    margin: 0 auto 20px;
  }
}

.day-deal {
  background: url(../images/dayDeal/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;


  &__inner {
    max-width: 570px;
    width: 100%;
    margin: 0 0 115px auto;
    padding: 150px 0;
  }

  &__text {
    font-size: 18px;
    text-transform: uppercase;
    @extend %quicksand-500;
    color: $accentRed;
    margin-bottom: 5px;
  }

  &__clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  &__clock-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    font-size: 48px;
    line-height: 1;
  }

  &__smalltext {
    @extend %quicksand-500;
    font-size: 16px;
    color: $accentGrey;
  }

  &__clock-item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    padding: 10px 30px;
  }
}

.sponsors {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.blog {
  text-align: center;
  background-image: url(../images/blog/blogDecor.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;

  &__text {
    max-width: 575px;
    width: 100%;
    margin: 0 auto 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 20px 30px;
    text-align: left;
  }

  &__item {
    border: 1px solid #ececec;
    transition: box-shadow .3s;
  }

  &__item:last-child {
    position: relative;
  }

  &__item:last-child::after {
    content: '';
    position: absolute;
    right: -25px;
    top: -30px;
    background-image: url(../images/blog/itemDecor.png);
    width: 126px;
    height: 53px;
    z-index: -1;
  }

  &__item:hover {
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);

    .blog__item-link {
      color: $accentRed;
    }

    .blog__item-link::after {
      background-image: url(../images/icons/arrowRed.svg);
    }
  }

  &__item-content {
    padding: 20px 30px;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__item-author,
  .blog__item-date {
    @extend %quicksand-500;
    color: $accentGrey;
    padding-left: 30px;
    position: relative;
  }

  &__item-author::before,
  .blog__item-date::before {
    content: '';
    position: absolute;
    left: 0;
    @extend %img;
    width: 20px;
    height: 20px;
  }

  &__item-author::before {
    content: '';
    background-image: url(../images/icons/userGray.svg);
  }

  &__item-date::before {
    content: '';
    background-image: url(../images/icons/date.svg);
  }

  &__item-title {
    @extend %roboto-400;
    font-size: 18px;
    color: $defaultDark;
    margin-bottom: 20px;
  }

  &__item-link {
    display: inline-block;
    position: relative;
    color: $accentGrey;
    @extend %quicksand-500;
    padding-right: 20px;
    transition: color .3s;
  }

  &__item-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @extend %img;
    background-image: url(../images/icons/arrowGray.svg);
    width: 10px;
    height: 8px;
  }
}

.page-navigation {
  max-width: 1700px;
  margin: 0 auto 110px;
  @extend %img;

  &__inner {
    padding: 135px 0;
    text-align: center;
  }

  &__title {
    @extend %roboto-400;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    @extend %quicksand-500;
    color: $accentGrey;
  }

  &__item:first-child .breadcrumb__link {
    padding-left: 25px;
  }

  &__item:first-child .breadcrumb__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    background-image: url(../images/bredcrumb/home.svg);
    width: 16px;
    height: 16px;
  }

  &__item:not(:last-child) .breadcrumb__link {
    position: relative;
    padding-right: 25px;
  }

  &__item:not(:last-child) .breadcrumb__link:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/bredcrumb/next.svg);
    @extend %img;
    width: 9px;
    height: 10px;
  }

  &__item:last-child .breadcrumb__link {
    color: $accentRed;
  }
}

.modal {
  &__form {
    margin: 0 auto;
    max-width: 570px;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  &__category-label:not(:last-child) {
    margin-right: 60px;
  }

  &__category-type {
    @extend %roboto-400;
    text-transform: uppercase;
    font-size: 22px;
    color: $accentGrey;
    cursor: pointer;

    &--active {
      @extend %roboto-700;
      color: $accentRed;
    }
  }

  &__label {
    @extend %quicksand-500;
    color: $accentGrey;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    margin: 15px 0 35px;
    padding: 0 15px;
    border: none;
    background-color: $backgroungGrey;
  }

  &__checkbox {
    margin: 25px 0;
  }

  &__btn{
    width: 100%;
    margin: 0 auto 20px;
    padding: 25px 0;
    background: $defaultDark;
    color: #fff;
    @extend %roboto-400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__help{
    @extend %quicksand-500;
    color: $accentRed;
  }

  &__text:not(:last-child){
    margin-bottom: 30px;
  }

  
}



.footer {
  color: $accentGrey;
  @extend %quicksand-500;
  background-color: #f6f6f6;

  a {
    color: $accentGrey;
    @extend %quicksand-500;
  }

  .footer__top {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 35px;
    border-bottom: 1px solid #ececec;
  }

  .logo-link {
    margin-bottom: 30px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 240px;
  }

  &__address,
  .footer__email {
    margin-bottom: 15px;
  }

  &__phone {
    margin-bottom: 20px;
  }

  &__social {
    display: flex;
  }

  &__social-item:not(:last-child) {
    margin-right: 15px;
  }

  &__social-item:hover {
    svg {
      fill: $accentRed;
    }
  }

  svg {
    fill: $accentGrey;
  }

  &__top-list {
    max-width: 155px;
  }

  &__top-title {
    font-size: 22px;
    @extend %roboto-500;
    color: $defaultDark;
    margin-bottom: 29px;
  }

  &__top-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__top-newslatter {
    max-width: 475px
  }

  &__top-text {
    margin-bottom: 30px;
  }

  &__top-input {
    padding: 15px;
    width: 320px;
    border: none;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
  }

  &__top-input::placeholder {
    color: $accentGrey;
  }

  &__top-btn {
    display: inline-block;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  &__bottom-accept {
    display: flex;
  }

  &__bottom-text,
  .footer__bottom-img:not(:last-child) {
    margin-right: 20px;
  }
}


@import 'media';