.promo {
  background-image: url(../images/promo/sectionBg.png);
  @extend %img;
  padding: 125px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/promo/background.jpg);
    @extend %img;
    width: 535px;
    height: 480px;
    margin-right: 40px;
  }

  &__link-btn {
    max-width: 130px;
    width: 100%;
    max-height: 130px;
  }

  &__content {
    max-width: 565px;
  }

  &__offer {
    @extend %quicksand-500;
    font-size: 22px;
    color: $accentRed;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__btn {
    padding: 15px 40px;
  }
}