.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 115px;
  text-align: left;

  &__item {
    padding: 60px 40px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    background: #fff;
    position: relative;
  }

  &__item:first-child::after,
  &__item:last-child:before {
    content: '';
    position: absolute;
  }

  &__item:first-child::after {
    top: -50px;
    left: -50px;
    background-image: url(../images/categories/decor/circle.png);
    width: 120px;
    height: 120px;
    z-index: -1;
  }

  &__item:last-child::before {
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-image: url(../images/categories/decor/triangle.png);
    width: 65px;
    height: 52px;
    z-index: -1;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.categories {
  text-align: center;
  background-image: url(../images/categories/decor/shapes.png);
  @extend %img;
  background-size: contain;

  &__text {
    max-width: 540px;
    margin: 0 auto 60px;
  }

  &__list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 640px;
    text-align: left;
  }

  &__item {
    @extend %img;
    padding: 40px 0 0 20px;

    &:nth-child(1) {
      grid-row: span 2;
      
      .categories__offer,
      .categories__link:hover {
        color: #c4abeb;
        border-color: #c4abeb;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      
      .categories__offer {
        color: $accentRed;
      }
    }

    &:nth-child(3) {

      .categories__offer,
      .categories__link:hover {
        color: #ffb534;
        border-color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories__offer,
      .categories__link:hover {
        color: #a7d9f5;
        border-color: #a7d9f5;
      }
    }
  }

  &__box{
    max-width: 225px;
  }

  &__offer {
    @extend %quicksand-500;
    margin-bottom: 10px;
  }

  &__type {
    @extend %roboto-500;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    color: $defaultDark;
    @extend %roboto-400;
    transition: color 0.3s;
  }

  &__link:hover {
    color: $accentRed;
    border-bottom: 1px solid $accentRed;
    padding-bottom: 5px;
  }
}


@media (max-width: 992px) {
  .benefits {
    margin-bottom: 50px;
    grid-template-columns: 0.7fr;
    justify-content: center;
    gap: 30px;

    &__item {
      padding: 40px 30px;
    }
  }

  .categories {
    text-align: center;
    background-image: url(../images/categories/decor/shapes.png);
    @extend %img;
    background-size: contain;

    &__text {
      max-width: 540px;
      margin: 0 auto 60px;
    }

    &__list {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 335px);
      min-height: 640px;
      text-align: left;
    }

    &__item {
      @extend %img;
      padding: 40px 0 0 20px;

      &:nth-child(1) {
        grid-row: span 2;
        .categories__offer,
        .categories__link:hover {
          color: #c4abeb;
          border-color: #c4abeb;
        }
      }

      &:nth-child(2) {
        grid-column: span 2;
        order: 2;
        background-position: right center;
        .categories__offer {
          color: $accentRed;
        }
      }

      &:nth-child(3) {

        .categories__offer,
        .categories__link:hover {
          color: #ffb534;
          border-color: #ffb534;
        }
      }

      &:nth-child(4) {

        .categories__offer,
        .categories__link:hover {
          color: #a7d9f5;
          border-color: #a7d9f5;
        }
      }
    }

  }
}

@media (max-width: 575px) {
  .benefits {
    grid-template-columns: 0.9fr;
    gap: 20px;

    &__item {
      padding: 30px 20px;
    }
  }
}