.error {
  &__inner {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 530px;
  }

  &__title {
    text-transform: capitalize;
    color: #28384f;
  }

  &__text {
    max-width: 460px;
    margin-bottom: 55px;
  }

  &__link {
    display: inline-block;
    padding: 15px 30px;
  }

  &__img {
    max-width: 600px;
    max-height: 550px;
  }
}