.blog-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  &__author,
  &__date {
    @extend %quicksand-500;
    color: $accentGrey;
    padding-left: 30px;
    position: relative;
  }

  &__author::before,
  &__date::before {
    content: '';
    position: absolute;
    left: 0;
    @extend %img;
    width: 20px;
    height: 20px;
  }

  &__author::before {
    background-image: url(../images/icons/userGray.svg);
  }

  &__date::before {
    background-image: url(../images/icons/date.svg);
  }
}