.social {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__item:hover {
    svg {
      fill: $accentRed;
    }
  }

  svg {
    transition: fill 0.3s;
    fill: $accentGrey;
  }
}