.day-deal {
  background: url(../images/dayDeal/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;


  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
    padding: 150px 0;
  }

  &__text {
    font-size: 18px;
    text-transform: uppercase;
    @extend %quicksand-500;
    color: $accentRed;
    margin-bottom: 5px;
  }

  &__clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  &__clock-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    font-size: 48px;
    line-height: 1;
  }

  &__smalltext {
    @extend %quicksand-500;
    font-size: 16px;
    color: $accentGrey;
  }

  &__clock-item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    padding: 10px 30px;
  }
}

@media (max-width: 1200px) {
  .day-deal {
    &__inner {
      padding: 50px 0;
    }

    &__clock-item {
      width: 100px;
      height: 100px;
    }
  }
}

@media (max-width: 992px) {
  .day-deal {

    &__inner {
      padding: 25px 0;
    }

    &__clock-item:not(:last-child) {
      margin-right: 15px;
    }

    &__clock {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 575px) {
  .day-deal {

    &__inner {
      padding: 10px 0;
    }

    &__clock-item {
      font-size: 28px;
      width: 70px;
      height: 70px;
    }

    &__clock-item:not(:last-child) {
      margin-right: 10px;
    }

    &__smalltext {
      font-size: 14px;
    }
  }
}